version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    labels:
      - "automerge"
      - "dependencies"
    schedule:
      interval: "weekly"
      time: "03:33"
