._*
.DS_Store
npm-debug.log
node_modules
test/TestApp/build
test/TestApp/TestApp.xcodeproj/xcuserdata
test/TestApp/TestApp.xcodeproj/project.xcworkspace
test/TestWatchApp/build
test/TestWatchApp/TestWatchApp.xcodeproj/xcuserdata
test/TestWatchApp/TestWatchApp.xcodeproj/project.xcworkspace
test/TestWatchApp2/build
test/TestWatchApp2/TestWatchApp2.xcodeproj/xcuserdata
test/TestWatchApp2/TestWatchApp2.xcodeproj/project.xcworkspace
